/* Importing Quicksand fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
  outline: none;
}

.article-option {
  font-size: .8rem;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}

.home-banner {
  background-image: url('/assets/img/undraw_Character_drawing_ii11.svg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.support-banner {
  background-image: url('/assets/img/undraw_air_support_wy1q.svg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

blockquote {
  border-left: 4px solid #475bf4;
  padding-left: 1rem;
}

.content-table {
  border-radius: 0;
  border-left: .5px solid #b9b9b9;
}

.content-table-title, .article-options {
  font-weight: 500;
}

.content-table-item {
  font-weight: 400;
  font-size: 1rem;
  padding-left: 2%;
  color: #424242;
}

.content-box {
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: unset;
}

.content-box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

img[alt=image] {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 450px) {
  img[alt=image] {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

/* Sidebar */
.sidebar {
  padding-left: 0 !important;
  display: block;
  position: static;
}

.list-group-item {
  border: none;
  padding: .30rem .75rem;
}

/* Footer */
.footer {
  background-color: #3c3f55;
  color: #ebecf2;
}

.footer a {
  color: #b7b5f5;
}
