/* Importing Quicksand fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
}

.banner {
  background: rgba(255,255,255,.9);
  padding: 2% 0;
}

.head {
  background-image: url(/assets/img/banner.webp);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.tile-link {
  transition: box-shadow .3s ease,transform .3s ease,-webkit-box-shadow .3s ease,-webkit-transform .3s ease;
  color: #3c4043;
  border-radius: 10px;
  border: 1px solid #ebecf2;
}

.tile-link:hover {
  box-shadow: 0 9px 26px 0 rgba(126,133,144,.25);
  transform: translateY(-5px);
  text-decoration: none;
}

.article-option {
  font-size: .8rem;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}

blockquote {
  border-left: 4px solid #475bf4;
  padding-left: 1rem;
}

.content-table {
  border-radius: 0;
  border-left: .5px solid #b9b9b9;
}

.content-table-title, .article-options {
  font-weight: 500;
}

.content-table-item {
  font-weight: 400;
  font-size: 1rem;
  padding-left: 2%;
  color: #424242;
}

.content-box {
  max-height: 100vh;
  overflow-y: auto;
}


#csearch {
  position: absolute;
  right: 8%;
  margin-top: -5px;
  color: rgb(255, 0, 0);
}

img[alt=image] {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 450px) {
  img[alt=image] {
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

